body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 100vw;
}

h1, h2, h3, h4, h5 {
  color: #353940
}

h1 {
  font-size: 3rem;
  line-height: auto;
  margin: 0;
}

p {
  color: #40444D;
  font-size: 1rem;
  line-height: 1.5em;
}

a {
  color: #2F6FED;
}

button {
  background-color: #2F6FED;
  border-color: #2F6FED;
  border-width: 0px;
  color: white;
  padding: 12px;
  border-radius: 4px;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: none;
  min-width: 300px;
  margin-top: 16px;
}

.navbar {
  background-color: red;
  padding: 16px 24px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  list-style: none;
  margin: 0;
}

.navbar img {
  height: 32px;
}

.navbar a {
    color: #0b0b0b;
}

#hero-section {
  background-color: #F4F4F5;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  padding: 24px;
  width: 100%;
}

.hero-content {
  padding: 24px;
  margin-right: 0px;
  width: 40%;
}

.hero-image {
  width: 60%;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


