body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5 {
  color: #353940
}

p {
  color: #40444D;
}

a {
  color: #2F6FED;
}

button {
  background-color: #2F6FED;
  border-color: #2F6FED;
  border-width: 0px;
  color: white;
  padding: 8px;
  border-radius: 4px;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: none;
}

.navbar {
  background-color: red;
  padding: 16px 24px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  list-style: none;
  margin: 0;
}

.navbar img {
  height: 32px;
}

.navbar a {
    color: #0b0b0b;
}